/* TODO: INCLUDE QUALITY COMMENTS and FIX HEADER WHEN ZOOM OUT */
/* TODO: FIX contact me not working when zoomed in fully */

:root {
    --primary-color: #eeb462;
    --secondary-color: #534666;
    --tertiary-color: #7868b3;
    --quaternary-color: rgba(83, 70, 102, 0.6)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: sans-serif, arial, helvetica;
    background-color: #f8f1e896;
}

main.body {
    position: absolute;
    top: 0;
}

.border {
    border: 1px solid;
    border-color: black;
}

header {
    padding: 8px 25px;
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: auto;
    margin-left: 0;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: .3vw .8vw;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.25);
    background: var(--secondary-color);
    border-radius: 60px;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 60px;
    text-shadow: none;
}

.hero {
    background-image: url("../images/laptop-iphone-desk-notebook-computer-smartphone-914474-pxhere.com.jpg");
    background-size: cover;
    /* display: flex; */
    justify-content: center;
    /* flex-wrap: wrap; */
    background-position: center;
    /* position: relative; */
    /* bottom: 100px; */
    border-bottom: 1px solid;
    height: 250px;

}

.hero-title h2 {
    border-bottom: 2px solid var(--secondary-color);
}

.hero-title {
    text-align: center;
    padding: 100px 15px 0 15px;
    margin: 0;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-size: 36px;
    line-height: 1.7;
    position: relative;
    bottom: 20px;
}

article {
    padding: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-size: 50px;
    color: var(--secondary-color);
    border-right: 2px solid;
    text-align: top;
    margin-right: 20px;
    display: inline-block;
    padding-right: 15px;
}

.margin {
    margin: 0 15% 0 15%;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center {
    margin: 10 10;
    display: flex;
    width: 100%;
    position: relative;
}

.about {
    display: block;
    text-align: justify;
    background-color: rgba(83, 70, 102, 0.2);
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    padding: 10px;
}

.about img {
    height: 200px;
    width: 200px;
    float: left;
    padding: 0 15px 10px 0;
}

.about p {
    width: 100%;
    text-align: justify;
    word-wrap: break-word;
    font-size: 25px;
    text-shadow: .5px .5px 0px rgba(0, 0, 0, 0.2);
    color: var(--secondary-color);
}

.works {
    width: 100%;
    justify-content: left;
}

.flexer1 {
    background-image: url("../images/run-buddy.png");
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
}

.cont {
    position: relative;
    text-align: center;
    color: white;
}

.label1 {
    position: relative;
    color: var(--primary-color);
    bottom: 10vw;
    width: 12vw;
    background-color: #534666;
    font-size: 20px;
    padding: .2%;
    border: 5px solid #534666;
    border-radius: 0 15px 15px 0;
}

.label2 {
    position: relative;
    color: var(--primary-color);
    bottom: 8vw;
    left: .3vw;
    width: 12vw;
    background-color: #534666;
    font-size: 20px;
    padding: .2%;
    border: 5px solid #534666;
    border-radius: 0 15px 15px 0;
}

.label3 {
    position: relative;
    color: var(--primary-color);
    bottom: 8vw;
    left: .3vw;
    width: 12vw;
    background-color: #534666;
    font-size: 20px;
    padding: .2%;
    border: 5px solid #534666;
    border-radius: 0 15px 15px 0;
}

.flexer2 {
    background-image: url("../images/horiseon.png");
    background-size: auto;
    display: flex;
    width: 100%;
    height: 100%;
}

.flexer3 {
    background-image: url("../images/portfolio.png");
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
}

.flexer4 {
    background-image: url("../images/proj1.png");
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
}

.flexer1 {
    background-size: 100% 100%;
    display: flex;
    width: 50vw;
    height: 30vw;
    margin: 5 0 5 0;
}

.flexer2, .flexer3, .flexer4 {
    background-size: 100% 100%;
    display: flex;
    width: 25vw;
    height: 15vw;
    margin: 5 2.5 5 2.5;
}

.gray {
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
}

.grays {
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
    text-align: center;
}

.gray:hover {
    filter: none;
}

.gray:hover ~ .col {
    filter: none;
}

.bord {
    border: 10px solid var(--secondary-color);
    border-radius: 15px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
}

body {
    font-size: 20px;
    line-height: 1.7;
}

.projs {
    margin: 1%;
}

.contacts {
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.6);
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 60px;
    border: 1px solid black;
    text-align: center;
    margin: 20px;
    padding: 15px;
    text-decoration: none;
}

.contacts:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 60px;
    text-shadow: none;
}

.me {
    text-align: center;
}

/* following code from: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
.fa {
    padding: 20px;
    padding-top: 35px;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 20px 0 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

h2.section-title {
    white-space: nowrap;
}

/* MEDIA QUERIES */

@media screen and (max-width: 980px) {
    .work {
        margin: 0 15 0 15;
    }

    .works {
        margin: 10 0 10 0;
        justify-content: center;
    }

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 25px;
        margin: 20px;
    }

    .hero-title {
        width: 100%;
        text-align: center;
    }

    .margin {
        flex-direction: column;
    }

    .flexer1,
    .flexer2,
    .flexer3 {
        background-size: 100% 100%;
        display: flex;
        width: 70vw;
        height: 40vw;
        margin: 10 20;
    }

    .section-title {
        border-right: none;
        border-bottom: 2px solid;
        justify-content: center;
    }

    .margin {
        margin-bottom: 20px;
    }

    .label1, .label2, .label3 {
        bottom: 20vw;
        left: 3vw;
        width: 15vw;
    }

    .contacts {
        font-size: 5vw;
    }

    .hero {
        bottom: 120px;
        height: 300px;
    }

    .hero-title {
        position: absolute;
        top: 100px;
        font-size: 3vw;
    }

}

@media screen and (max-width: 768px) {
    .works {
        margin: 10 0;
    }

    .margin {
        margin-bottom: 20px;
    }

    .flexer1,
    .flexer2,
    .flexer3 {
        background-size: 100% 100%;
        display: flex;
        width: 85vw;
        height: 50vw;
        margin: 0;
    }
    
    .label1, .label2, .label3 {
        bottom: 20vw;
        left: 1vw;
        width: 80vw;
    }
}

@media screen and (max-width: 575px) {
    .label1, .label2, .label3 {
        width: 80vw;
    }

    .hero-title {
        position: absolute;
        top:140px;
    }

}